<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><center>Address</center></h1>
<form action="" method="POST">
    <label>Line 1</label><br>
    <input type="text" name="Line1"><br>

    <label>Line 2</label><br>
    <input type="text" name="line2"><br>

    <label>Area</label><br>
    <input type="text" name="area"><br>

    <label>City</label><br>
    <input type="text" name="city"><br>

    <label>Pin Code</label><br>
    <input type="text" name="pincode"><br>

    <label>State</label><br>
    <input type="text" name="state"><br>

    <br><input type="submit" value="submit">

</form>

</body>
</html>
